<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
     <class="Container">
        <div id="grid-sample" class="container demo">
            <h1>Basic News Search</h1>
            <div class="Grid">
                <div class="c-12 "> 
                    <div class="wrap">
                        <div class="search">
                           <input type="text" class="searchTerm"  id="sInput" placeholder="What are you looking for?">
                           <input type="submit" class="searchButton" id="searchButton">
                        </div>
                     </div>
                 </div>
            </div>
            <div class="Grid" id="Grid" style="display: none;">
              {{#each news}}
                <div class="c-4">
                    <div class="card " style="width: 18rem;">
                        <img class="card-img-top" src="{{urlToImage}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{title}}</h5>
                          <p class="card-text">{{description}}</p>
                          <a href="{{url}}" class="btn btn-primary">More</a>
                        </div>
                      </div>             
                 </div>
              {{/each}}
            </div>
          


    <script src="\assets\scripts\main.js"></script>
</body>



</html>